.header {
  background-color: #23272a; /* Discord dark grey */
  padding: 1rem; /* 16px */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Adds depth under the header */
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Max width for the content inside header */
  margin: 0 auto;
}

.logo-container {
  display: flex; /* Aligns logo and title side by side */
  align-items: center; /* Aligns items vertically */
}

.logo {
  max-width: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image rounded */
}

.logo-container h1 {
  color: #ffffff; /* White color for title */
  margin-left: 15px; /* Adjust spacing */
  font-size: 2.5em;
  color: #2643a5; /* Logo text color */
}

.navigation {
  display: flex;
  align-items: center;
}

.header-button {
  background-color: #7289da; /* Discord's brand blue */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
  background-color: #003cff; /* Darker shade for hover */
  color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-content {
    flex-direction: column;
  }

  .navigation {
    margin-top: 10px;
  }

  .header-button {
    margin: 5px; /* Smaller margin for smaller screens */
  }
}
