.about-us {
  background-color: #2c2f33; /* Dark background */
  padding: 40px;
  text-align: center;
}

.about-us h2 {
  color: #2643a5;
}

.about-us p {
  margin-bottom: 20px;
  color: #fff;
}

.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.feature-card {
  background: #4a4d50; /* Slightly lighter card backgrounds */
  border-radius: 8px;
  padding: 20px;
  width: 250px; /* Adjust as necessary */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.feature-card h3 {
  color: #2643a5; /* Color for card titles */
}

.feature-card p {
  color: #fff; /* Color for card text */
}
