/* SidebarCard.css */
.sidebar-card {
  background-color: #2c2f33; /* Dark background for card */
  padding: 30px;
  margin-bottom: 15px; /* Spacing between cards */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  color: white; /* Text color */
  position: absolute; /* Position the sidebar card absolutely within its parent */
  top: 450px; /* Adjust this value to move the sidebar card up by 50px; change as needed */
  right: 40px; /* Position from the right; adjust as needed */
  z-index: 10; /* Ensure the sidebar card is above the header */
}

/* SidebarCard.css */
.sidebar-card .social-links a {
  margin-right: 40px; /* Spacing between icons */
}

.sidebar-card .social-links img {
  width: 24px; /* Adjust size as needed */
  height: 24px;
}

.sidebar-card h4 {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffffff;
}
