.content-layout {
  display: flex;
  margin: 20px;
}

.main-content {
  flex-grow: 1;
  margin-right: 20px; /* Spacing between main content and sidebar */
}

.sidebar {
  width: 300px; /* Or however wide you want your sidebar to be */
  /* Optional: Add a box-shadow or border to distinguish the sidebar */
}
