.App {
  background-color: gray;
}

h1 {
  color: #333; /* Dark color for the text */
  font-family: "Arial", sans-serif; /* Modern font */
  margin-bottom: 15px; /* Space between title and buttons */
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
}
