.simple-description {
  background-color: #4b4f53; /* Dark background */
  color: white; /* White text for contrast */
  padding: 50px 20px;
  text-align: center;
  margin-bottom: 30px;
}

.simple-description .logo {
  max-width: 100px;
  border-radius: 50%;
}

.simple-description h1 {
  color: #7289da; /* Discord blue for the title */
}

.simple-description p {
  margin: 0;
  font-size: 1.2em; /* Slightly larger font size for the paragraph */
}
